.welcome{
	margin: 200px auto;
}
.pos-cen{
	margin: auto;
	width: 120px;
	text-align: center
}
.h1.pos{
	width: 1000px;
	margin: auto;
}
.pos-cens{
	width: 110px;
	text-align: center;
	margin: 5px auto;
}
.add{
	margin-left: 30px;
	width: 300px;
	float: left
}
.add2{
	margin-right: 10px;
	width: 100px;
	float: right;
	
}
.top{
	height:50px;
	padding:5px;
	
}
.form-control{
	border: 1px solid rgb(238, 238, blue238) !important;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
	border-radius: 10px;
	height: var (--searchbox-height)
}
#filtersubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}